body {
    background-image: url("hatterkepek/horror.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: red;
    font-family: "ink Free";
}

#oldal {
    background-color:darkslategray;
    color: white;
}